<div *ngIf="!data" class="alert alert-info alert-with-icon">
    <i data-notify="icon" class="material-icons">info</i>
    <span data-notify="message">Please select a poll or survey to see it's chart.</span>
</div>

<div *ngIf="data" style="display: block">
    <canvas baseChart
            [data]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            chartType="pie"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>
<!--TODO: Fix PieChart size-->
