<ng-container *ngIf="!loginStatus">
    <div class="main-content">
        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="card login-card">
                    <div class="card-header text-center" data-background-color="blue">
                        <h4 class="title">Login</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Username</label>
                                    <input [(ngModel)]="username" type="text" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Password</label>
                                    <input [(ngModel)]="password" type="password" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <button type="button" (click)="login()" class="btn btn-info">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="loginStatus">
    <div class="wrapper">
        <div class="sidebar" data-color='blue' data-image="" style="background-color: white">
            <sidebar-cmp></sidebar-cmp>
            <!--<div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>-->
        </div>
        <div class="main-panel">
            <navbar-cmp></navbar-cmp>
            <dashboard-cmp></dashboard-cmp>
            <footer-cmp></footer-cmp>
        </div>
    </div>
</ng-container>

