<div class="logo">
    <!--<div class="simple-text">-->
        <!--<div class="logo-img">-->
            <!--<img src="/assets/img/angular2-logo-red.png"/>-->
        <!--</div>-->
        <!--POL Project-->
    <!--</div>-->
    <img src="../../assets/img/logo-black.svg" alt="POL" class="logo">
    <img src="../../assets/img/slogan-black.svg" alt="Connect with Customers" class="slogan">
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
