.login-card {
    top: 100px;
}

.sidebar img.logo {
    height: 35px;
    padding: 0;
}

.sidebar .logo {
    text-align: center;
    height: auto;
}

.slogan {
    height: 35px;
    margin-left: 10px;
}
