@media screen and (min-width: 992px){
    .full-height {
        height: 100%;
    }

    .main-div {
        height: calc(100% - 123px);
    }

    .selector-card {
        height: calc(100% - 25px);
        margin-bottom: 0px;
    }

    .selector-list {
        overflow: scroll;
        max-height: calc(100% - 65px);
    }

    .data-div {
        height: calc(100% - 91px);
    }

    .data-card {
        height: 100%;
        margin-bottom: 0px;
    }
}

.selector-list-row {
    cursor: pointer;
}
