<div class="main-content main-div">
<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-md-4 full-height">
            <div class="card card-nav-tabs selector-card">
                <div class="card-header" data-background-color="blue">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="active">
                                    <a href="#surveys" data-toggle="tab">
                                        <i class="material-icons">mode_edit</i>
                                        Surveys
                                        <div class="ripple-container"></div></a>
                                </li>
                                <li class="">
                                    <a href="#polls" data-toggle="tab">
                                        <i class="material-icons">poll</i>
                                        Polls
                                        <div class="ripple-container"></div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card-content selector-list">
                    <div class="tab-content">
                        <div class="tab-pane active" id="surveys">
                            <div *ngIf="surveys.length == 0" class="alert">
                                <div class="alert-icon">
                                    <i class="material-icons">info_outline</i>
                                </div>
                                You don't have any surveys yet.
                            </div>

                            <table class="table">
                                <tbody>
                                <tr *ngFor="let survey of surveys; let i = index" id="survey-{{ i }}"
                                    class="selector-list-row" (click)="select('survey', i, survey)">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ survey.title }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="polls">
                            <div *ngIf="polls.length == 0" class="alert">
                                <div class="alert-icon">
                                    <i class="material-icons">info_outline</i>
                                </div>
                                You don't have any polls yet.
                            </div>

                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let poll of polls; let i = index" id="poll-{{ i }}"
                                        class="selector-list-row" (click)="select('poll', i, poll)">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ poll.title }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-8 full-height">
            <div class="card card-nav-tabs selector-card">
                <div class="card-header" data-background-color="orange">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Show:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="active">
                                    <a href="#table" data-toggle="tab">
                                        <i class="material-icons">list</i>
                                        Table
                                        <div class="ripple-container"></div></a>
                                </li>
                                <li class="">
                                    <a href="#line-chart" data-toggle="tab">
                                        <i class="material-icons">show_chart</i>
                                        Line Chart
                                        <div class="ripple-container"></div></a>
                                </li>
                                <li class="">
                                    <a href="#bar-chart" data-toggle="tab">
                                        <i class="material-icons">poll</i>
                                        Bar Chart
                                        <div class="ripple-container"></div></a>
                                </li>
                                <li class="">
                                    <a href="#pie-chart" data-toggle="tab">
                                        <i class="material-icons">pie_chart</i>
                                        Pie Chart
                                        <div class="ripple-container"></div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card-content selector-list">
                    <div class="tab-content">
                        <div class="tab-pane active" id="table">
                            <div *ngIf="!data" class="alert alert-info alert-with-icon">
                                <i data-notify="icon" class="material-icons">info</i>
                                <span data-notify="message">Please select a poll or survey to see it's table.</span>
                            </div>

                            <div *ngIf="data" style="display: block">
                                <table class="table">
                                    <thead class="text-capitalize">
                                    <th>Category</th>
                                    <th>Participants</th>
                                    <th>Top Vote</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Dakota Rice</td>
                                        <td>1,023</td>
                                        <td>Oud-Turnhout</td>
                                    </tr>
                                    <tr>
                                        <td>Minerva Hooper</td>
                                        <td>2,342</td>
                                        <td>Sinaai-Waas</td>
                                    </tr>
                                    <tr>
                                        <td>Sage Rodriguez</td>
                                        <td>864</td>
                                        <td>Baileux</td>
                                    </tr>
                                    <tr>
                                        <td>Philip Chaney</td>
                                        <td>5,236</td>
                                        <td>Overland Park</td>
                                    </tr>
                                    <tr>
                                        <td>Doris Greene</td>
                                        <td>1,346</td>
                                        <td>Feldkirchen in Kärnten</td>
                                    </tr>
                                    <tr>
                                        <td>Mason Porter</td>
                                        <td>235</td>
                                        <td>Gloucester</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="line-chart">
                            <line-chart [data]="data"></line-chart>
                        </div>

                        <div class="tab-pane" id="bar-chart">
                            <bar-chart [data]="data"></bar-chart>
                        </div>

                        <div class="tab-pane" id="pie-chart">
                            <pie-chart [data]="data"></pie-chart>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
