<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Surveys</h4>
                <p class="category">Create astonishing surveys with POL!</p>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-10">
                        <!--<h5>In Progress</h5>-->
                        <div class="alert alert-warning alert-with-icon">
                            <i data-notify="icon" class="material-icons">notifications</i>
                            <span data-notify="message">Thank you so much for your interest. Surveys will be added to POL very soon, so stay tuned!</span>
                        </div>

                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
