<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" data-background-color="blue">
                            <h4 class="title">Question</h4>
                            <p class="category">Ask your costumers a question</p>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black is-empty">
                                        <label class="control-label">Question</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div *ngFor="let choice of choices; let i = index; trackBy:trackByFn" class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
		                                <span class="input-group-addon remove-span" (click)="removeChoice(i)">
			                                <i class="material-icons remove-icon">clear</i>
		                                </span>
                                        <input name="choice-{{i}}" [(ngModel)]="choices[i]" type="text" class="form-control" placeholder="Choice {{i + 1}}">
                                    </div>
                                </div>
                            </div>

                            <button type="button" (click)="addChoice()" class="btn btn-info pull-right">Add Choice</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" data-background-color="blue">
                            <h4 class="title">New Poll</h4>
                            <p class="category">Poll details</p>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black is-empty">
                                        <label class="control-label">Title</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black is-empty">
                                        <label class="control-label">Deadline</label>
                                        <input class="form-control" type="text" value="" placeholder="YYYY-MM-DD">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-black is-empty">
                                        <label class="control-label">Private</label>
                                        <select class="form-control">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black is-empty">
                                        <label class="control-label">Description</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            <button type="button" (click)="goBack()" class="btn btn-info pull-left">Cancel</button>
                            <button type="submit" class="btn btn-info pull-right">Create</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
