<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <button type="submit" (click)="navigateToCreate()" class="btn btn-info pull-right">Create Poll</button>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ng-container *ngFor="let poll of polls; let i=index">
                    <div *ngIf="i % 2 == 0" class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="blue">
                                    <h4 class="title">{{ poll.title }}</h4>
                                    <p class="category description">{{ poll.description }}</p>
                                </div>
                                <div class="card-content">
                                    <table class="table">
                                        <thead class="text-capitalize">
                                        <th>Category</th>
                                        <th>Participants</th>
                                        <th>Top Vote</th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Dakota Rice</td>
                                            <td>1,023</td>
                                            <td>Oud-Turnhout</td>
                                        </tr>
                                        <tr>
                                            <td>Minerva Hooper</td>
                                            <td>2,342</td>
                                            <td>Sinaai-Waas</td>
                                        </tr>
                                        <tr>
                                            <td>Sage Rodriguez</td>
                                            <td>864</td>
                                            <td>Baileux</td>
                                        </tr>
                                        <tr>
                                            <td>Philip Chaney</td>
                                            <td>5,236</td>
                                            <td>Overland Park</td>
                                        </tr>
                                        <tr>
                                            <td>Doris Greene</td>
                                            <td>1,346</td>
                                            <td>Feldkirchen in Kärnten</td>
                                        </tr>
                                        <tr>
                                            <td>Mason Porter</td>
                                            <td>235</td>
                                            <td>Gloucester</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="col-md-6">
                <ng-container *ngFor="let poll of polls; let i=index">
                    <div *ngIf="i % 2 == 1" class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="blue">
                                    <h4 class="title">{{ poll.title }}</h4>
                                    <p class="category description">{{ poll.description }}</p>
                                </div>
                                <div class="card-content">
                                    <table class="table">
                                        <thead class="text-capitalize">
                                        <th>Category</th>
                                        <th>Participants</th>
                                        <th>Top Vote</th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Dakota Rice</td>
                                            <td>1,023</td>
                                            <td>Oud-Turnhout</td>
                                        </tr>
                                        <tr>
                                            <td>Minerva Hooper</td>
                                            <td>2,342</td>
                                            <td>Sinaai-Waas</td>
                                        </tr>
                                        <tr>
                                            <td>Sage Rodriguez</td>
                                            <td>864</td>
                                            <td>Baileux</td>
                                        </tr>
                                        <tr>
                                            <td>Philip Chaney</td>
                                            <td>5,236</td>
                                            <td>Overland Park</td>
                                        </tr>
                                        <tr>
                                            <td>Doris Greene</td>
                                            <td>1,346</td>
                                            <td>Feldkirchen in Kärnten</td>
                                        </tr>
                                        <tr>
                                            <td>Mason Porter</td>
                                            <td>235</td>
                                            <td>Gloucester</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <button type="submit" (click)="navigateToCreate()" class="btn btn-info pull-right">Create Poll</button>
        </div>
    </div>
</div>
